<!-- ***** Main Banner Area Start ***** -->
<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="assets\images\world.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="container">
          <div class="row">
            <div class="caption">
              <h6>Nice to meet you </h6>
              <h2>I am Dot </h2>
              <p> Lets get it done <a rel="nofollow" href="" target="_blank"> Control your PC with voice remote </a>. Python based Graphic User Interface <a rel="nofollow" href="https://www.pexels.com/@pressmaster" target="_blank"> Preview Here </a>.
              </p>
              <div class="main-button-red">
                <div class="scroll-to-section"><a href="#contact">Download</a>
            </div>
  
          </div>
          </div>
            </div>
          </div>
        </div>
        
</section>
<!-- ***** Main Banner Area End ***** -->



<section class="upcoming-functionality" id="functionality">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Functionality</h2>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="categories">
          <h4>What can Dot do?</h4>
          <ul>
            <li><a href="#">Report weather </a></li>
            <li><a href="#">Play your favorite song on Youtube</a></li>
            <li><a href="#">Tell you a joke </a></li>
            <li><a href="#">Google for you</a></li>
            <li><a href="#">and more...</a></li>
          </ul>
          <div class="main-button-red">
            <a href="functionality.html">Check it out</a>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-6">
            <div class="meeting-item">
              <div class="thumb">
                <div class="price">
                  <span></span>
                </div>
                <a href="meeting-details.html"><img src="assets/images/weather1.jpg" alt="New Lecturer Meeting"></a>
              </div>
              <div class="down-content">
                <div class="date">
                  <h6><span>⛅</span></h6>
                </div>
                <a href="meeting-details.html"><h4>Weather forecast <br> reports</h4>
                </a>
                <p>Umbrella or Hat <br> Just ask Dot</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="meeting-item">
              <div class="thumb">
                <a href="meeting-details.html"><img src="assets/images/youtube.jpg" alt="Online Teaching"></a>
              </div>
              <div class="down-content">
                <div class="date">
                  <h6><span>🎵</span></h6>
                </div>
                <a href="meeting-details.html"><h4>Play your favorite song <br> on Youtube</h4></a>
                <p>"Dot, Play Tina Turner on You Tube."<br>"Playing Tina Turner on YouTube!".</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="meeting-item">
              <div class="thumb">
                <a href="meeting-details.html"><img src="assets/images/joke.jpg" alt="Higher Education"></a>
              </div>
              <div class="down-content">
                <div class="date">
                  <h6> <span>😂</span></h6>
                </div>
                <a href="meeting-details.html">
                <h4>"Hey Dot, Tell me a Joke"</h4></a>
                <p>Start your day with a smile.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="meeting-item">
              <div class="thumb">
                <a href="meeting-details.html"><img src="assets/images/google.jpg" alt="Higher Education"></a>
              </div>
              <div class="down-content">
                <div class="date">
                  <h6> <span>❓</span></h6>
                </div>
                <a href="meeting-details.html">
                  <h4>Just Google it</h4>
                  <p>"Hey Dot, Who is......"<br>    </p>
                </a>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="upcoming-functionality" id="functionality">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>MANUAL</h2>
        </div>
        <div class="col-lg-4">
          <div class="categories">
         
            <form id="contact" action="" method="post">
              <ul>
                <li><a href="#">Report weather </a></li>
                <li><a href="#">Play your favorite song on Youtube</a></li>
                <li><a href="#">Tell you a joke </a></li>
                <li><a href="#">Google for you</a></li>
                <li><a href="#">and more...</a></li>
              </ul> 
            </form>
          </div>
        </div>
      </div>
  </div>
  </div>
           
</section>

<section class="apply-now" id="apply">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="row">
          <div class="col-lg-12">
            <div class="item">
              <h3>Next-Generation of Virtual Personal Assistants</h3>
                <p>How Microsoft Cortana, Apple Siri, Amazon Alexa and Google Home are changing the world.</p>
              <div class="main-button-red">
                <div class="scroll-to-section"><a href="https://ieeexplore.ieee.org/document/8301638">Read More</a></div>
            </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="item">
              <h3>The Future of Voice Technology</h3>
                <p>The six largest tech companies in the world are investing heavily in voice technology. Find out why every tech company is currently racing to win the next major operating system.</p>
              <div class="main-button-yellow">
                <div class="scroll-to-section"><a href="https://www.youtube.com/watch?v=VTU-51SPeqA">Read More</a></div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact-us" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 align-self-center">
        <div class="row">
          <div class="col-lg-12">
            <form id="contact" action="" method="post">
              <div class="row">
                <div class="col-lg-12">
                  <h2>Let's get in touch </h2>
                </div>
                <div class="col-lg-4">
                  <fieldset>
                    <input name="name" type="text" id="name" placeholder="YOURNAME...*" required="">
                  </fieldset>
                </div>
                <div class="col-lg-4">
                  <fieldset>
                    <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="YOUR EMAIL..." required="">
                  </fieldset>
                </div>
                <div class="col-lg-4">
                  <fieldset>
                    <input name="subject" type="text" id="subject" placeholder="SUBJECT...*" required="">
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <textarea name="message" type="text" class="form-control" id="message" placeholder="YOUR MESSAGE..." required=""></textarea>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="button">SEND MESSAGE NOW</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="right-info">
          <ul>
            <li>
              <h6>Phone Number</h6>
              <span>000000000000</span>
            </li>
            <li>
              <h6>Email Address</h6>
              <span>zees_kitchen@yahoo.com</span>
            </li>
            <li>
              <h6>Street Address</h6>
              <span>address</span>
            </li>
            <li>
              <h6>Website URL</h6>
              <span>www.dot.com</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <p>Copyright © 2022 Dot by Zee All Rights Reserved.
      <br>Design: <a href="linkedin.com/in/zlatka-ciorica-4a3859200" target="_parent" title="free css templates">Zlatka Ciorica</a>
    </p>
  </div>
</section>